Makefile
Makefile.am
Makefile.in
*.m4
autom4te.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.in
depcomp
install-sh
libtool
ltconfig
ltmain.sh
missing
mkinstalldirs
stamp-h*
*.pot
*.ami
Makefile.am.common
OUTPUT
OUTPUT2
.dep
.deps
.libs
*.lo
*.la
*.ybc
libstorage/bindings/src/StorageCallbacksBuiltinTable.h
libstorage/bindings/src/StorageCallbacksBuiltinCalls.h
libstorage/bindings/ycp/LibStorage
libstorage/bindings/ycp/LibStorage.pm
libstorage/bindings/ycp/LibStorage.so
libstorage/bindings/ycp/LibStorage_wrap.*
libstorage/bindings/ycp/dummy_to_have_cxxcompile*
libstorage/src/storage
libstorage/doc/autodocs/*.css
package/*.bz2
package/*.spec
storage/doc/autodocs/*.html
storage/src/partitioning
storage/src/modules/include/partitioning
storage/src/testsuite/site.*
storage/src/testsuite/*.sum
storage/src/testsuite/*.log
storage/src/testsuite/tmp.*
storage/src/testsuite/tmp
storage/src/testsuite/yast2-storage.test
storage/src/testsuite/run
storage/src/testsuite/config
