Makefile
Makefile.am
Makefile.in
*.m4
autom4te.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.in
depcomp
install-sh
libtool
ltconfig
ltmain.sh
missing
mkinstalldirs
stamp-h*
*.pot
*.ami
Makefile.am.common
OUTPUT
OUTPUT2
.dep
.deps
.libs
*.o
*.lo
*.la
*.ybc
libstorage/src/StorageCallbacksBuiltinTable.h
libstorage/src/StorageCallbacksBuiltinCalls.h
libstorage/src/evms_access
libstorage/src/y2storage
libstorage/bindings/ycp/LibStorage
libstorage/bindings/ycp/LibStorage.pm
libstorage/bindings/ycp/LibStorage.so
libstorage/bindings/ycp/LibStorage_wrap.*
libstorage/bindings/ycp/dummy_to_have_cxxcompile*
libstorage/doc/autodocs/*.html
libstorage/doc/autodocs/*.png
libstorage/doc/autodocs/*.gif
libstorage/doc/autodocs/*.css
libstorage/doc/autodocs/*.log
libstorage/doc/autodocs/*.tag
libstorage/doc/autodocs/installdox
libstorage/examples/TestDisk
libstorage/examples/TestDiskLog
libstorage/examples/TestLock
libstorage/examples/TestLoop
libstorage/examples/TestLvm
libstorage/examples/TestMd
libstorage/examples/TestEvms
libstorage/examples/TestProbing
libstorage/examples/TestStorage
libstorage/testsuite-real/lvmcreate?
libstorage/testsuite-real/lvmextend?
libstorage/testsuite/*.single
libstorage/testsuite/single.out
libstorage/testsuite/*.sum
libstorage/testsuite/*.log
libstorage/testsuite/site.*
libstorage/testsuite/tmp.*
libstorage/testsuite/tmp
libstorage/testsuite/yast2-storage.test
package/*.bz2
package/*.spec
controller/doc/autodocs/*.html
disk/doc/autodocs/*.html
lvm/doc/autodocs/*.html
storage/doc/autodocs/*.html
storage/src/partitioning
storage/src/modules/include/partitioning
