[Desktop Entry]
Type=Application
Categories=Qt;X-SuSE-YaST;X-SuSE-YaST-System;

X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=lvm_config

X-SuSE-YaST-Group=System
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=

Icon=lvm
Exec=/sbin/yast2 lvm_config

Name=LVM
GenericName=Create and configure volume groups and physical and logical volumes
GenericName[cs]=Vytvořit a nastavit skupiny svazků (fyzické a logické)
GenericName[de]=Volume-Gruppen sowie Physical Volumes und Logical Volumes erzeugen und konfigurieren.
GenericName[es]=Crear y configurar grupos de volúmenes y volúmenes físicos y lógicos
Name[hu]=LVM beállítása
GenericName[hu]=Kötetcsoportok, fizikai és logikai kötetek létrehozása és beállítása
GenericName[it]=Crea e configura gruppi di volumi e volumi fisici o logici
Name[ko]=LVM(논리적 볼륨매니저)
GenericName[ko]=물리적 혹은 논리적 볼륨을 생성하고 환경설정합니다.
GenericName[nl]=Maak en configureer volume groepen en fysieke en logische volumes
GenericName[pt]=Criar e configurar grupos de volume e volumes lógicos e físicos
GenericName[sk]=Vytvára a nastavuje skupiny diskov a fyzické a logické disky
GenericName[sv]=Skapa och ställ in volymgrupper samt fysiska och logiska volymer
GenericName[da]=Opret og konfigurer volume grupper og fysiske og logiske volumer
GenericName[el]=Δημιουργία και ρύθμιση ομάδας τόμων και φυσικών και λογικών τόμων
Name[fr]=&Partitionnement
GenericName[fr]=Créer et configurer des groupes de volumes, des volumes physiques et logiques
GenericName[ja]=ボリューム・グループ、物理ボリューム、論理ボリュームの作成と設定。
GenericName[lt]=Sukurti ir konfigūruoti tomų grupes ir fizinius bei loginius tomus
GenericName[sl]=Ustvari in nastavi skupine nosilcev in fizični in logični nosilci
GenericName[tr]=Yığın grupları, fiziksel ve mantıksal yığınlar oluşturur ve yapılandırır
