[Desktop Entry]
Type=Application
Categories=Qt;X-SuSE-YaST;X-SuSE-YaST-System;

X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=disk

X-SuSE-YaST-Group=System
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=

Icon=partitioner
Exec=/sbin/yast2 disk 

Name=Partitioner
GenericName=Hard disk partitioning (including RAID, LVM, encrypted file systems)
Name[cs]=Rozdělování disku
GenericName[cs]=Rozdělování pevných disků (včetně RAID, LVM, šifrovaných systémů ...)
Name[de]=Partitionieren
GenericName[de]=Festplattenpartitionierung (einschließlich RAID, LVM, verschlüsselte Dateisysteme...)
Name[es]=Particionador
GenericName[es]=Particionamiento del disco duro (incluyendo RAID, LVM, sistemas de archivos codificados)
Name[hu]=Particionálás
GenericName[hu]=Merevlemez particionálás (beleértve RAID-et, LVM-et, titkosított fájlrendszert)
Name[it]=Partizionatore
GenericName[it]=Partizionamento dischi rigidi (inclusi RAID, LVM e filesystem cifrati)
Name[ko]=파티션 도구
GenericName[ko]=하드디스크 파티션( RAID, LVM, 암호화된 파일 시스템을 포함)
GenericName[nl]=Harddisk partitionering (inclusief RAID, LVM, versleutelde bestandssystemen)
Name[pt]=Particionador
GenericName[pt]=Particionamento de disco rígido (incluindo RAID, LVM, sistema de arquivos criptografado)
Name[sk]=Rozdelenie disku
GenericName[sk]=Rozdelenie disku (vrátane RAID, LVM, šifrovaných systémov súborov)
Name[sv]=Partitionerare
GenericName[sv]=Hårddiskpartitionering (inklusive RAID, LVM, krypterade filsystem)
GenericName[da]=Harddisk partitionering (inklusiv RAID, LVM, krypteret filsystem)
Name[el]=Κατατμητής
GenericName[el]=Κατάτμηση Σκληρού Δίσκου (περιλαμβάνει RAID, LVM, κρυπτογραφημένα συστήματα αρχείων)
Name[fr]=Partitionneur
GenericName[fr]=Partitionnement du disque dur (incluant RAID, LVM, systèmes de fichiers cryptés)
Name[ja]=ディスクの分割
GenericName[ja]=ハードディスクの分割 (RAID、LVM、暗号ファイルシステム等)
Name[lt]=Skaidymo įrankis
GenericName[lt]=Kietojo disko skaidymas (įskaitant RAID, LVM, koduotas bylų sistemas)
Name[ru]=Разбиение
Name[sl]=Particioniranje
GenericName[sl]=Particioniranje trdih diskov (tudi RAID, LVM, kodirani datotečni sistemi)
Name[tr]=Disk bölümlendiricisi
GenericName[tr]=Sabit disk bölümlendirme işlemleri (RAID, LVM ve şifrelenmiş dosya sistemi dahil)
